<div class="content-body">
  <div class="container-fluid">
    <!-- Check if formations array has data -->
    <div *ngIf="formations && formations.length > 0; else noFormations">
      <table class="table table-bordered">
        <thead class="thead-primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Prix</th>
            <th scope="col">Durrée</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterate over formations array -->
          <tr *ngFor="let formation of formations; let i = index">
            <th scope="row">{{ i + 1 }}</th> <!-- Display row index -->
            <td>{{ formation.titre }}</td> <!-- Correct property bindings -->
            <td>{{ formation.description }}</td>
            <td>{{ formation.prix }}</td>
            <td>{{ formation.durree }}</td>
            <td><a routerLink="/formation/{{ formation.id }}" class="btn btn-success ml-3">Détail</a>
            <a routerLink="/dashboard/edit/{{formation.id}}" class="btn btn-warning ml-3">Modifier</a>
       
              <button class="btn btn-danger ml-3" (click)="confirmDelete(formation.id)" >Supprimer</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Display this message when there are no formations -->
    <ng-template #noFormations>
      <p class="alert alert-warning">
        Aucun formation trouvé !
      </p>
    </ng-template>
  </div>
</div>


