<div class="container mt-5 py-4">
 
  <section>
        <h2 class="text-center mt-5">Nos Formation</h2> 
        <div class="row py-4">
          <!-- Utilisez col-md-3 pour afficher 4 colonnes sur les écrans moyens et plus grands -->
          <div class="col-md-3 col-sm-6 mb-4" *ngFor="let formation of formation ">
            <div class="card h-100">
              
              <div class="card-body text-center">
                <h3 class="card-title">{{ formation.titre }}</h3>
                <p class="card-text"> <strong>Prix:</strong> {{ formation.prix }}</p>
                <p class="card-text"> <strong>Durée:</strong> {{ formation.durree }}</p>
                <p class="card-text"> <strong>Description:</strong> {{ formation.description }}</p>
                <a routerLink="/formation/{{ formation.id }}" class="btn btn-success mr-2">Voir Plus</a>
                <!-- <button class="btn btn-danger" (click)="addToPanier(categorie)">Ajouter au panier</button> -->
              </div>
            </div>
          </div>
        </div> 
         <!-- <div class="d-flex justify-content-center ">
      <button class="btn btn-primary width: 424" >Ajouter au panier</button>
    </div> -->
    
    </section>  </div>
