<div class="content-body">
  <div class="container-fluid">

    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="form-group">
        <label for="name">Nom de formation</label>
        <input type="text" class="form-control" name="titre"
          [ngClass]="{'is-invalid':(titre.invalid && titre.dirty),'is-valid':titre.valid}" required #titre="ngModel"
          [(ngModel)]="formation.titre">
        <div *ngIf="titre.invalid && titre.dirty" class="invalid-feedback">
          tappez votre nom de formation.
        </div>
      </div>

      <div class="form-group">
        <label for="prix">Prix</label>
        <input type="number" class="form-control" name="prix" #prix="ngModel" 
        [ngClass]="{'is-invalid':prix.invalid && prix.dirty,'is-valid':prix.valid}"
        required  [(ngModel)]="formation.prix">
        <div *ngIf="prix.invalid && prix.dirty" class="invalid-feedback">
            tappez votre prix.
        </div>
      </div>
      <div class="form-group">
        <label for="name">Durée</label>
        <input type="text" class="form-control" name="durree"
          [ngClass]="{'is-invalid':(durree.invalid && durree.dirty),'is-valid':durree.valid}" required #durree="ngModel"
          [(ngModel)]="formation.durree">
        <div *ngIf="durree.invalid && durree.dirty" class="invalid-feedback">
          tappez votre nom de formation.
        </div>
      </div>
      <div class="form-group">
        <label class="text-black font-w500">Description</label>
        <textarea class="form-control" id="description" rows="5" name="description"
          [(ngModel)]="formation.description"></textarea>
      </div>
      <div class="form-group">
        <label class="text-black font-w500">Date de debut</label>
        <div class="cal-icon">
          <input type="date" class="form-control" name="date"><i class="far fa-calendar-alt"></i>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
          [disabled]="form.invalid ">Modifier</button>
      </div>
    </form>

  </div>
</div>