
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="text-black font-w500">zz de formation</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="text-black font-w500">Description</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="text-black font-w500">Prix</label>
              <input type="number" class="form-control">
            </div>
            <div class="form-group">
              <label class="text-black font-w500">Duree</label>
              <input type="number" class="form-control">
            </div>
            <div class="form-group">
                  <label class="text-black font-w500">date</label>
                  <div class="cal-icon"><input type="date" class="form-control"><i class="far fa-calendar-alt"></i></div>
                </div>
            
            <div class="form-group">
              <button type="submit"   class="btn btn-primary">Ajouter</button>
            </div>
          </form>
       