


<!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <div class="nav-header">
          <a href="#" class="brand-logo">
              <i class="logo-abbr fa-brands fa-stumbleupon"></i>
              <h2 class="brand-title">Admin</h2>
          </a>
          <div class="nav-control">
              <div class="hamburger">
                  <span class="line"></span><span class="line"></span><span class="line"></span>
              </div>
          </div>
      </div>
      <div class="header">
          <div class="header-content">
              <nav class="navbar navbar-expand">
                  <div class="collapse navbar-collapse justify-content-between">
                      <div class="header-left">
                          <div class="dashboard_bar">
                              Dashboard
                          </div>
                      </div>
                      <ul class="navbar-nav header-right">
                          <li class="nav-item">
                              <div class="input-group search-area d-lg-inline-flex d-none">
                                  <div class="input-group-append">
                                      <span class="input-group-text">
                                          <a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a>
                                      </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Search here...">
                              </div>
                          </li>
                          <li class="nav-item dropdown notification_dropdown">
                              <a class="nav-link bell bell-link" href="javascript:void(0)">
                                  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M2.23779 10.2492L4.66679 11.7064V8.30554L2.23779 10.2492Z" fill="#67636D" />
                                      <path d="M1.1665 12.327V23.3334C1.16852 23.8531 1.28817 24.3656 1.5165 24.8325L9.20134 17.15L1.1665 12.327Z" fill="#67636D" />
                                      <path d="M26.4832 24.8325C26.7115 24.3656 26.8311 23.8531 26.8332 23.3334V12.327L18.7983 17.15L26.4832 24.8325Z" fill="#67636D" />
                                      <path d="M23.3335 8.30554V11.7064L25.7625 10.2492L23.3335 8.30554Z" fill="#67636D" />
                                      <path d="M21.0492 13.0772C21.024 12.998 21.0076 12.9162 21.0002 12.8334V7.00004C21.0002 6.69062 20.8773 6.39388 20.6585 6.17508C20.4397 5.95629 20.1429 5.83337 19.8335 5.83337H8.16684C7.85742 5.83337 7.56067 5.95629 7.34188 6.17508C7.12309 6.39388 7.00017 6.69062 7.00017 7.00004V12.8334C6.99274 12.9162 6.97631 12.998 6.95117 13.0772L14.0002 17.3064L21.0492 13.0772Z" fill="#67636D" />
                                      <path d="M17.3262 3.50003L14.7292 1.4222C14.5222 1.25653 14.2651 1.16626 14 1.16626C13.7349 1.16626 13.4777 1.25653 13.2708 1.4222L10.6738 3.50003H17.3262Z" fill="#67636D" />
                                      <path d="M16.7358 18.3855L14.6008 19.6688C14.4194 19.7778 14.2117 19.8354 14 19.8354C13.7883 19.8354 13.5806 19.7778 13.3991 19.6688L11.2641 18.3855L3.16748 26.4833C3.63438 26.7117 4.14691 26.8313 4.66665 26.8333H23.3333C23.853 26.8313 24.3656 26.7117 24.8325 26.4833L16.7358 18.3855Z" fill="#67636D" />
                                  </svg>
                                  <span class="badge light text-white bg-primary rounded-circle">6</span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
        </div>
        <!--**********************************
                  Header end ti-comment-alt
              ***********************************-->
      
        <!--**********************************
                  Sidebar start
              ***********************************-->
              <!-- Add Project -->
<div class="modal fade" id="addProjectSidebar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Ajouter une formation</h5>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()"  #form="ngForm">
          <div class="form-group">
            <label class="text-black font-w500" for="name">Nom de formation</label>
            <input type="text" class="form-control" name="titre" 
            [ngClass]="{'is-invalid':(titre.invalid && titre.dirty),'is-valid':titre.valid}"
            required  #titre="ngModel" [(ngModel)]="formation.titre">
            <div *ngIf="titre.invalid && titre.dirty" class="invalid-feedback">
                tappez votre nom de formation.
            </div>
        </div>
          
        <div class="form-group">
          <label class="text-black font-w500" for="name">Prix</label>
          <input type="number" class="form-control" name="prix" 
          [ngClass]="{'is-invalid':(prix.invalid && prix.dirty),'is-valid':prix.valid}"
          required  #prix="ngModel" [(ngModel)]="formation.prix">
          <div *ngIf="prix.invalid && prix.dirty" class="invalid-feedback">
              tappez le Prix.
          </div>
      </div>
      <div class="form-group">
        <label class="text-black font-w500" for="durree">Durée</label>
        <input type="text" class="form-control" name="durree"
               [ngClass]="{'is-invalid': (durree.invalid && durree.dirty), 'is-valid': durree.valid}"
               required #durree="ngModel" [(ngModel)]="formation.durree">
        <div *ngIf="durree.invalid && durree.dirty" class="invalid-feedback">
            Tapez la durée de la formation.
        </div>
    </div>
      
          <div class="form-group">
            <label class="text-black font-w500">Description</label>
            <textarea class="form-control" id="description" rows="5" name="description" 
             [(ngModel)]="formation.description"></textarea>
          </div>
          <div class="form-group">
                <label class="text-black font-w500">Date de debut</label>
                <div class="cal-icon">
                  <input type="date" class="form-control" name="date"><i class="far fa-calendar-alt"></i></div>
              </div>
          
          <div class="form-group">
            <button type="submit"  class="btn btn-primary"  data-bs-dismiss="modal" [disabled]="form.invalid ">CREATE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 
        <div class="deznav">
          <div class="deznav-scroll">
            <a class="add-project-sidebar btn btn-primary" href="avascript:void(0)()" data-bs-toggle="modal"
              data-bs-target="#addProjectSidebar">+ Ajouter Formation</a>
            <ul class="metismenu" id="menu">
              <li> <a routerLink="/dashboard">
                  <i class="flaticon-layout"></i>
                  <span class="nav-text">Dashboard</span>
                </a>
      
              </li>
              <li><a routerLink="/clients">
                <i class="flaticon-bar-chart-1"></i>
                <span class="nav-text">Nos Clients</span>
              </a>
            </li>
              <li> <a routerLink="/dashboard/formation-admin">
                  <i class="flaticon-monitor"></i>
                  <span class="nav-text">Nos Formations</span>
                </a>
              </li>
             
            
            </ul>
          </div>
        </div>
        <!--**********************************
                  Sidebar end
              ***********************************-->
        <router-outlet></router-outlet>
      
        <!--**********************************
                  Footer start
              ***********************************-->
        <div class="footer">
          <div class="copyright">
            <p>Crée par<span class="heart"></span> <a href="#">Zakia Bouabidi</a> 2024</p>
          </div>
        </div>
        <!--**********************************
                  Footer end
              ***********************************-->
      
      
      
      
      </div>
      <!--**********************************
              Main wrapper end
          ***********************************-->